In [10]:
file_names = ["IT Salary Survey EU 2018.csv","T Salary Survey EU 2019.csv", "IT Salary Survey EU  2020.csv"]

In [11]:
title_column = []
data = open(file_names[0], 'r', encoding='utf-8')
data = data.readline()
data = data.split(',')
print(data)

['Timestamp', 'Age', 'Gender', 'City', 'Position', 'Years of experience', 'Your level', 'Current Salary', 'Salary one year ago', 'Salary two years ago', 'Are you getting any Stock Options?', 'Main language at work', 'Company size', 'Company type\n']

In [26]:
import glob
import os
path = r"C:\Users\HP\hello world"
all_files = glob.glob(os.path.join(path, '/*.csv'))
li = []

for file in file_names:
    df = pd.read_csv(file, index_col=None, header = 0)
    li.append(df)
    
frame = pd.concat(li, axis =0, ignore_index=True)
frame.head()

,Timestamp,Age,Gender,City,Position,Years of experience,Your level,Current Salary,Salary one year ago,Salary two years ago,...,Years of experience in Germany,Other technologies/programming languages you use often,Yearly brutto salary (without bonus and stocks) in EUR,Yearly bonus + stocks in EUR,Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country,Annual bonus+stocks one year ago. Only answer if staying in same country,Employment status,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,14/12/2018 12:41:33,43.0,M,München,QA Ingenieur,11.0,Senior,77000.0,76200.0,68000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,14/12/2018 12:42:09,33.0,F,München,Senior PHP Magento developer,8.0,Senior,65000.0,55000.0,55000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14/12/2018 12:47:36,32.0,M,München,Software Engineer,10.0,Senior,88000.0,73000.0,54000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14/12/2018 12:50:15,25.0,M,München,Senior Frontend Developer,6.0,Senior,78000.0,55000.0,45000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14/12/2018 12:50:31,39.0,M,München,UX Designer,10.0,Senior,69000.0,60000.0,52000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
array =[]
for name in file_names:
    with open(name,'r',encoding = 'utf-8') as f:
        title = f.readline()
        array.append(title.split(','))
        
        for line in f:
            if title == line:
                continue
            else:
                array.append(line.split(','))

In [48]:
print("{}, {}".format(array[0][3], array[2][3]))

City, München

In [27]:
''' basic information'''
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 23 columns):
 #   Column                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                   --------------  -----
 0   Timestamp                                                                                                                1253 non-null   object
 1   Age                                                                                                                      1226 non-null   float64
 2   Gender                                                                                                                   1243 non-null   object
 3   City                                                                                                                     1253 non-null   object
 4   Position                                                                                                                 1247 non-null   object
 5   Total years of experience                                                                                                1237 non-null   object
 6   Years of experience in Germany                                                                                           1221 non-null   object
 7   Seniority level                                                                                                          1241 non-null   object
 8   Your main technology / programming language                                                                              1126 non-null   object
 9   Other technologies/programming languages you use often                                                                   1096 non-null   object
 10  Yearly brutto salary (without bonus and stocks) in EUR                                                                   1253 non-null   float64
 11  Yearly bonus + stocks in EUR                                                                                             829 non-null    object
 12  Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                 885 non-null    float64
 13  Annual bonus+stocks one year ago. Only answer if staying in same country                                                 614 non-null    object
 14  Number of vacation days                                                                                                  1185 non-null   object
 15  Employment status                                                                                                        1236 non-null   object
 16  Сontract duration                                                                                                        1224 non-null   object
 17  Main language at work                                                                                                    1237 non-null   object
 18  Company size                                                                                                             1235 non-null   object
 19  Company type                                                                                                             1228 non-null   object
 20  Have you lost your job due to the coronavirus outbreak?                                                                  1233 non-null   object
 21  Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                        373 non-null    float64
 22  Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR  462 non-null    object
dtypes: float64(4), object(19)
memory usage: 225.3+ KB

In [28]:
'''data description'''
df.describe()

,Age,Yearly brutto salary (without bonus and stocks) in EUR,Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week"
count,1226.000000,1.253000e+03,8.850000e+02,373.000000
mean,32.509788,8.027904e+07,6.322459e+05,12.967828
std,5.663804,2.825061e+09,1.680508e+07,15.275174
min,20.000000,1.000100e+04,1.100000e+04,0.000000
25%,29.000000,5.880000e+04,5.500000e+04,0.000000
50%,32.000000,7.000000e+04,6.500000e+04,0.000000
75%,35.000000,8.000000e+04,7.500000e+04,30.000000
max,69.000000,1.000000e+11,5.000000e+08,40.000000

In [29]:
df.shape

(1253, 23)

In [30]:
'''find duplicates'''
df.duplicated().sum()

0

In [37]:
'''find unique values'''
'''find unique values'''
df['Age'].unique()
df['Gender'].unique()
df['City'].unique()

array(['Munich', 'Berlin', 'Hamburg', 'Wolfsburg', 'Stuttgart',
       'Schleswig-Holstein', 'London', 'Konstanz area', 'Frankfurt',
       'Cologne', 'Kempten', 'Münster', 'Erlangen', 'Vienna', 'Moldova',
       'Rosenheim', 'Mannheim ', 'Boeblingen', 'Düsseldorf', 'Ingolstadt',
       'Nürnberg', 'Ansbach', 'Leipzig', 'Mannheim', 'Tuttlingen', 'Bonn',
       'Moscow', 'Koblenz', 'Warsaw', 'Heidelberg', 'Karlsruhe', 'Köln',
       'Aachen', 'Karlsruhe ', 'Samara', 'Riga, Latvia', 'Dusseldorf',
       'Zurich', 'Helsinki', 'Würzburg', 'Kiev', 'Den Haag', 'Amsterdam',
       'Cracovia', 'Tallinn', 'Prague', 'Utrecht', 'Stockholm',
       'Braunschweig ', 'Dresden', 'Kyiv', 'Stuttgart ', 'Malta',
       'Lübeck', 'Nuremberg ', 'Bodensee', 'Milan', 'Salzburg', 'Rome',
       'Wroclaw', 'Cupertino', 'Paris', 'Dublin ', 'Paderborn',
       'Konstanz', 'Ulm', 'Düsseldorf ', 'Barcelona', 'Bölingen',
       'Tampere (Finland)', 'Hannover', 'Bucharest', 'Siegen', 'Minsk',
       'Nuremberg', 'Marseille', 'Friedrichshafen', 'Walldorf',
       'Eindhoven', 'France', 'Regensburg', 'Warsaw, Poland', 'Heilbronn',
       'Dortmund', 'Jena', 'City in Russia', 'Cracow', 'Brunswick',
       'Dublin', 'Madrid', 'Lisbon', 'Sofia', 'Luttich', 'Milano',
       'Bielefeld', 'Basel', 'NJ, USA', 'Istanbul', 'warsaw',
       'Hildesheim', 'Heidelberg ', 'Murnau am Staffelsee ', 'Zürich',
       'Innsbruck', 'Brussels ', 'Hildesheim ', 'Prefer not to say',
       'Dusseldurf', 'Fr', 'Darmstadt', 'Duesseldorf', 'Cambridge',
       'Brussels', 'Copenhagen', 'Sevilla', 'Krakow', 'Ingolstadt ',
       'Saint-Petersburg', 'Saarbrücken'], dtype=object)

In [38]:
'''Find null values'''
df.isnull().sum()

Timestamp                                                                                                                    0
Age                                                                                                                         27
Gender                                                                                                                      10
City                                                                                                                         0
Position                                                                                                                     6
Total years of experience                                                                                                   16
Years of experience in Germany                                                                                              32
Seniority level                                                                                                             12
Your main technology / programming language                                                                                127
Other technologies/programming languages you use often                                                                     157
Yearly brutto salary (without bonus and stocks) in EUR                                                                       0
Yearly bonus + stocks in EUR                                                                                               424
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                   368
Annual bonus+stocks one year ago. Only answer if staying in same country                                                   639
Number of vacation days                                                                                                     68
Employment status                                                                                                           17
Сontract duration                                                                                                           29
Main language at work                                                                                                       16
Company size                                                                                                                18
Company type                                                                                                                25
Have you lost your job due to the coronavirus outbreak?                                                                     20
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                          880
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR    791
dtype: int64

In [39]:
'''replace null values'''
df.replace(np.nan,'0',inplace = True)
df.isnull().sum()

Timestamp                                                                                                                  0
Age                                                                                                                        0
Gender                                                                                                                     0
City                                                                                                                       0
Position                                                                                                                   0
Total years of experience                                                                                                  0
Years of experience in Germany                                                                                             0
Seniority level                                                                                                            0
Your main technology / programming language                                                                                0
Other technologies/programming languages you use often                                                                     0
Yearly brutto salary (without bonus and stocks) in EUR                                                                     0
Yearly bonus + stocks in EUR                                                                                               0
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                   0
Annual bonus+stocks one year ago. Only answer if staying in same country                                                   0
Number of vacation days                                                                                                    0
Employment status                                                                                                          0
Сontract duration                                                                                                          0
Main language at work                                                                                                      0
Company size                                                                                                               0
Company type                                                                                                               0
Have you lost your job due to the coronavirus outbreak?                                                                    0
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                          0
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR    0
dtype: int64

In [40]:
'''Knowing the data types'''
df.dtypes

Timestamp                                                                                                                   object
Age                                                                                                                         object
Gender                                                                                                                      object
City                                                                                                                        object
Position                                                                                                                    object
Total years of experience                                                                                                   object
Years of experience in Germany                                                                                              object
Seniority level                                                                                                             object
Your main technology / programming language                                                                                 object
Other technologies/programming languages you use often                                                                      object
Yearly brutto salary (without bonus and stocks) in EUR                                                                     float64
Yearly bonus + stocks in EUR                                                                                                object
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                    object
Annual bonus+stocks one year ago. Only answer if staying in same country                                                    object
Number of vacation days                                                                                                     object
Employment status                                                                                                           object
Сontract duration                                                                                                           object
Main language at work                                                                                                       object
Company size                                                                                                                object
Company type                                                                                                                object
Have you lost your job due to the coronavirus outbreak?                                                                     object
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                           object
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR     object
dtype: object

In [41]:
'''filtering data'''
df[df['Age']==30.0].head()

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
37,24/11/2020 11:29:18,30.0,Male,Berlin,Software Engineer,8,3,Senior,JavaScript,"Python, Javascript / Typescript, Java / Scala,...",...,3500,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,0.0,0
44,24/11/2020 11:30:45,30.0,Male,Berlin,Software Engineer,6,3,Senior,Java,"Kotlin, AWS, Kubernetes, Docker",...,54000,27,Full-time employee,Unlimited contract,English,1000+,Product,No,0,0
75,24/11/2020 11:43:28,30.0,Male,Berlin,Backend Developer,5,5,Middle,Java,0,...,0,27,Full-time employee,Unlimited contract,English,1000+,Product,No,0,0
76,24/11/2020 11:43:34,30.0,Male,Munich,DevOps,8,2,Middle,0,0,...,63000,30,Full-time employee,Unlimited contract,English,1000+,Product,No,0,0
82,24/11/2020 11:44:34,30.0,Male,Berlin,Software Engineer,10,2,Senior,Scala,"Python, Java / Scala, AWS, Docker",...,0,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,0,0

In [50]:
df.corr()

C:\Users\HP\AppData\Local\Temp\ipykernel_14596\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

                                                    Yearly brutto salary (without bonus and stocks) in EUR
Yearly brutto salary (without bonus and stocks)...                                                1.0